{# templates/bingo/play_game.html #}
{% extends 'bingo/base.html' %}
{% load bingo_tags %}
{% load qr_code %}

{% block content %}
<div id="websocket-connection" hx-ext="ws" ws-connect="/ws/play/{{ player.id }}/">
<div class="container">
    <div class="game-header">
        <h1>Winter Guard Bingo</h1>
        <div id="player-info" class="player-info">
            Playing as: <strong>{{ player.name }}</strong>
        </div>
        <button id="share-button"
                class="button is-primary is-small"
                data-show-target="#share-modal"
                >Share</button>
        <button id="about-button"
                class="button is-secondary is-small"
                data-show-target="#sidebar"
                >About</button>
    </div>

    {% bingo_board player game %}

    {% include "bingo/partials/sidebar.html" %}

    <div id="theModal" class="modal"></div>
    {% include "bingo/partials/share_game.html" %}
    <div id="errorMessage" class="error-message" style="display: none;"></div>
    <div id="connectedPlayers" class="connected-players"></div>
    <div class="game-events" hx-ext="remove-me">
        <div id="eventsList" class="events-list">
            {% if events %}
                {% for event in events %}
                     {% include "bingo/partials/event_item.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="made-with-love"><p>Made with ❤️ for winterguards by Jason Baldus.<br>Go Reeths-Puffer! Go Caledonia!</p></div>
    </div>
    <div id="immediateScript"></div>
</div>
{% endblock %}
