{# templates/bingo/play_game.html #}
{% extends 'bingo/base.html' %}

{% block content %}
<style>
    #home-button {
        position: absolute;
        top: 0;
        left: 0;
    }
    .spectator #events-list {
        max-height: 80dvh;
    }
    .spectator .event-item {
        position: relative;
    }
    .spectator .event-time {
        position: absolue;
        left: 0;
        font-size: 0.9em;
    }
</style>
<script>

document.addEventListener('DOMContentLoaded', () => {
    // Simple time ago function
    function timeAgo(date) {
        const seconds = Math.floor((new Date() - date) / 1000);
        
        let interval = seconds / 31536000;
        if (interval > 1) return Math.floor(interval) + (Math.floor(interval) > 1 ? " years ago" : " year ago");
        
        interval = seconds / 2592000;
        if (interval > 1) return Math.floor(interval) + (Math.floor(interval) > 1 ? " months ago" : " month ago");
        
        interval = seconds / 86400;
        if (interval > 1) return Math.floor(interval) + (Math.floor(interval) > 1 ? " days ago" : " day ago");
        
        interval = seconds / 3600;
        if (interval > 1) return Math.floor(interval) + (Math.floor(interval) > 1 ? " hours ago" : " hour ago");
        
        interval = seconds / 60;
        if (interval > 1) return Math.floor(interval) + (Math.floor(interval) > 1 ? " minutes ago" : " minute ago");
        
        return "just now";
    }

    function setTimes() {
        document.querySelectorAll(".event-time").forEach(el => {
            d = new Date(parseInt(el.dataset.timestamp))
            timeText = timeAgo(d)
            el.textContent = timeText
        })
    }

    setTimes() ;
    setInterval(setTimes, 60*1000)
})
</script>
<div id="websocket-connection" hx-ext="ws" ws-connect="/ws/spectate/{{ game.code }}/">
<div class="container spectator">
    <div class="game-header">
        <a id="home-button" href="{% url 'home' %}"><button class="button is-secondary is-small">Home</button></a>
        <h1>Winter Guard Bingo</h1>
        <div id="game-info" class="game-info">
            Spectating Game: <strong>{{ game.name }}</strong>
        </div>
        <p>Players: <strong>{{ game.players.count }}</strong></p>
    </div>

    <div id="errorMessage" class="error-message" style="display: none;"></div>
    <div id="connectedPlayers" class="connected-players"></div>
    {% include "bingo/partials/game_events.html" %}
    <div class="made-with-love"><p>Made with ❤️ for winterguards by Jason Baldus.<br>Go Reeths-Puffer! Go Caledonia!</p></div>
    </div>
    <div id="immediateScript"></div>
</div>
{% endblock %}
