<div class="modal winner-modal show" 
     id="theModal"
     hx-target="#theModal">
    <script>
        confetti({
            particleCount: 100,
            spread: 70,
            origin: { y: 0.6 }
        });
    </script>
    <div class="modal-content">
        <h2>You got a BINGO!</h2>
        <p class="message"><strong>{{ player.name }}</strong>, you got a BINGO! Way to go!</p>
        <div class="modal-buttons">
            <button class="button is-primary" 
                    hx-trigger="click"
                    hx-vals='{"type": "clear_board"}'
                    hx-ws="send"
                    hx-on:after-request="window.location.reload()">Play Again</button>
            <button class="button is-secondary" 
                    hx-trigger="click"
                    hx-vals='{"type": "make_suggestions"}'
                    hx-ws="send">Suggest New Squares</button>
        </div>
    </div>
</div>